h3{
    font-family: DolceVita;
    font-size:3em;
    color:purple;
    text-decoration: underline;
    padding-top:5%;
}

img{
    border-radius: 50%;
    border-style: solid;
    border-width: 2%;
    border-color: purple;
}

p{
    font-family: Calibri;
    font-size: 1.25em;
    line-height: 1.5em;
    padding-top: 4%;
    text-align:justify;
}

.about{
    padding-bottom:5%;
}

@media screen and (min-width:768px){
    .img-fluid {
        max-width: 100%;
        height: auto;
        margin-top: 25%;
    }
}
@media screen and (min-width:980px){
    h3{
        font-size:2em;
    }

    p{
        font-size:1em;
    }
    .about{
        margin-top:5vh;
    }
    .img-fluid {
        max-width: 100%;
        height: auto;
        margin: 5% 0%;
    }
}