@font-face {
    font-family:DolceVita;
    src: url(../media/DolceVita.ttf);
}

a{
    text-decoration:none;
    color:white;
}

h1{
    color: white;
    font-family: DolceVita;
    font-size: 2em;
    text-align:center;
    padding-top: 3%;
    margin-bottom:0%;
}

hr{
    margin-bottom:1%;
}

i{
    color:purple;
    padding:0% 3% 2% 0%;
}

.about{
    padding-bottom:5%;
}
.btn-primary{
    background-color:purple;
}


textarea.form-control {
    height: 23vh;
}

.header{
    background-color: purple;
    height: 6em;
}

.nav{
    padding-top:0%;
    margin-top:0%;
}

.fixed-bottom{
    background-color:white;
}

.subject{
    margin-top:5%;
    margin-bottom: 11%;
}
@media screen and (min-width:350px){
    h1{
        font-size:2.25em;
    }

    textarea.form-control {
        height: 30vh;
    }
}

@media screen and (min-width:768px){
    h1{
        font-size:3em;
    }

    h2{
        font-size:3em;
    }

    hr{
        margin-bottom:1%;
        margin-top:0%;
    }
    
    .img-fluid {
        max-width: 100%;
        height: auto;
        margin-top: 25%;
    }

    .subject{
        background-color:rgb(231, 231, 231);
        box-shadow: 1em 1em grey;
        border-radius:15px 5px;
    }

}

@media screen and (min-width:980px){

}
