@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

h5{
    font-family:DolceVita;
    text-align:center;
    font-size:2em;
}

div >h5{
    color:black;
    font-weight:normal;
}
div > p{
    color:black;
    font-weight:normal;
    text-align:justify;
}

.card{
    border: none;
    margin: 0 auto;
    width: 18rem;
    margin-top: 1.5em;
}

.card-body{
    border-style: solid;
    border-bottom-left-radius: calc(.75rem - 1px);
    border-bottom-right-radius: calc(.75rem - 1px);
    border-width: .05em;
    border-color: purple;
}

.card-img-top {
    width: 100%;
    height:100%;
    border-top-left-radius: calc(.75rem - 1px);
    border-top-right-radius: calc(.75rem - 1px);
}
@media screen and (min-width:768px){
    h5{
        font-size:1.25em;
    }

    p{
        font-size:1em;
    }
    .card{
        background-color:rgb(231, 231, 231);
        border:none;
        float:left;
    }

    .card-img-top {
        width: 100%;
        border-top-left-radius: calc(.75rem - 1px);
        border-top-right-radius: calc(.75rem - 1px);
        border-bottom-right-radius: 0%;
        border-bottom-left-radius: 0%;
        height:20vh;
        z-index:2;
    }

    .card-body {
        padding: 1.15rem;
        border-style: solid;
        border-top: none;
        border-color: purple;
        background-color: white;
        z-index:1;
        height:18vh;
        margin-top:-15vh;
    }

    .card:hover .card-body{
        margin-top:0vh;
        transition:1s;
    }
}

@media screen and (min-width:980px){
    .card-body{
        height:20vh;
        margin-top:-18vh;
    }
}
